In [8]:
# Maudy bintang si'ra
# 05TPLM009
# Data

company_detail_list = [
      {
          'name': 'Company 1',
          'domain': 'Retail',
          'country': 'United States'
      },
      {
          'name': 'Company 2',
          'domain': 'Technology',
          'country': 'United Kingdom'
      },
      {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'country': 'United States'
      }
  ]

employee_detail_list = [
     {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0005',
          'first_name': 'Ying Han',
          'last_name': 'Tan',
          'full_name': 'Ying Han Tan',
          'company': 'Company 1',
          'nationality': 'Australia'
      },
      {
          'name': 'EMP-0015',
          'first_name': 'Kenneth',
          'last_name': 'Ng',
          'full_name': 'Kenneth Ng',
          'company': 'Company 3',
          'nationality': 'United States'
      },
      {
          'name': 'EMP-0018',
          'first_name': 'Rubby',
          'last_name': 'Lee',
          'full_name': 'Rubby Lee',
          'company': 'Company 2',
          'nationality': 'Hong Kong'
      },
     {
          'name': 'EMP-0017',
          'first_name': 'Robert',
          'last_name': 'White',
          'full_name': 'Robert White',
          'company': 'Company 1',
          'nationality': 'United Kingdom'
      }
  ]

In [68]:
# task 1
sorted_companies = sorted(company_detail_list, key=lambda x: x['name'], reverse=True)
sorted_company_names = [{'name': company['name']} for company in sorted_companies]
print(sorted_company_names)

[{'name': 'Company 3'}, {'name': 'Company 2'}, {'name': 'Company 1'}]

In [67]:
# task 2
for company in company_detail_list:
    print(f"{company['name']}: {company['domain']} ({company['country']})")

Company 1: Retail (United States)
Company 2: Technology (United Kingdom)
Company 3: Healthcare (United States)

In [57]:
# task 3
company_to_domain = {company['name']: company['domain'] for company in company_detail_list}

employees_by_domain = {}

for employee in employee_detail_list:
    domain = company_to_domain[employee['company']]
    if domain not in employees_by_domain:
        employees_by_domain[domain] = []
    employees_by_domain[domain].append(employee['full_name'])

import json
print(json.dumps(employees_by_domain, indent=4))

{
    "Retail": [
        "John Doe",
        "Ying Han Tan",
        "Robert White"
    ],
    "Technology": [
        "Tom Smith",
        "Rubby Lee"
    ],
    "Healthcare": [
        "Andrew Sebastian",
        "Kenneth Ng"
    ]
}

In [59]:
# Task 4
def get_employees_with_company_country(employee_list, company_list):
    company_to_country = {company['name']: company['country'] for company in company_list}
    result = [
        {
            'full_name': emp['full_name'],
            'company': emp['company'],
            'country': company_to_country[emp['company']]
        } for emp in employee_list
    ]
    return result

employees_with_country = get_employees_with_company_country(employee_detail_list, company_detail_list)

import json
print(json.dumps(employees_with_country, indent=4))

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Ying Han Tan",
        "company": "Company 1",
        "country": "United States"
    },
    {
        "full_name": "Kenneth Ng",
        "company": "Company 3",
        "country": "United States"
    },
    {
        "full_name": "Rubby Lee",
        "company": "Company 2",
        "country": "United Kingdom"
    },
    {
        "full_name": "Robert White",
        "company": "Company 1",
        "country": "United States"
    }
]

In [72]:
# task 5
def get_company_employee_nationalities(employee_list, company_list):
    company_employee_nationalities = {company['name']: {} for company in company_list}
    
    for employee in employee_list:
        company = employee['company']
        nationality = employee['nationality']
        if nationality not in company_employee_nationalities[company]:
            company_employee_nationalities[company][nationality] = 0
        company_employee_nationalities[company][nationality] += 1
    
    result = [{'company': company, 'employee_nationality': nationalities} for company, nationalities in company_employee_nationalities.items()]
    return result

company_employee_nationalities = get_company_employee_nationalities(employee_detail_list, company_detail_list)
print(company_employee_nationalities)

[{'company': 'Company 1', 'employee_nationality': {'Australia': 2, 'United Kingdom': 1}}, {'company': 'Company 2', 'employee_nationality': {'United States': 1, 'Hong Kong': 1}}, {'company': 'Company 3', 'employee_nationality': {'United States': 2}}]